.wrap {
  width: 100%;
  height: 63px;
  position: fixed;
  top: 0;
  z-index: 300;
  background: #fff;
}

.box {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.divideBox_2 {
  font-size: 25px;
  font-family: GmarketSansMedium;
  font-weight: 900;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: -0.5px;
  margin-top: 5px;
}

.home {
  background-image: url("../../../assets/icon/serviceList/back.svg");
  width: 55px;
  height: 55px;
  cursor: pointer;
  background-color: #fff;
  margin-bottom: 3px;
}

.search {
  background-image: url("../../../assets/icon/serviceList/search.svg");
  background-repeat: no-repeat;
  width: 30.3px;
  height: 30.3px;
  cursor: pointer;
  background-size: 54px;
  background-color: #fff;
}

.search:hover {
  background-position: -27px;
}

/* 반응형 */
@media (max-width: 900px) {
  .wrap {
    height: 58px;
  }

  .divideBox_2 {
    font-size: 22px;
  }

  .home {
    width: 53px;
    height: 53px;
  }

  .box {
    padding: 0px 10px;
    width: 100vw;
  }
}
