.wrap {
  padding-top: 200px;
  padding-bottom: 120px;
}

.box {
  width: 900px;
  padding: 15px 0px;
  background: #fff;
  box-shadow: 0.25rem 0.35rem 0.4rem rgba(40, 50, 90, 0.1);
  border-radius: 12px;
  margin-top: 15px;
  letter-spacing: -0.5px;
  cursor: pointer;
}

.box:hover {
  border: 1px solid rgb(65 105 252);
}

.box:hover .thumbNail {
  filter: brightness(0.7);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.flexbox {
  display: flex;
}

.centerImg {
  border-radius: 7px;
  margin-left: 17px;
}

.thumbNail {
  width: 190px;
  height: 120px;

  object-fit: cover;
  border-radius: 7px;
}

.infobox {
  width: 80%;
  margin-left: 21px;
  line-height: 1.4;
}

/* flexView */
.changeWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 220px;
  padding-bottom: 150px;
  gap: 10px;
  row-gap: 30px;
}

.changeBox {
  width: 426px;
  height: 100%;
  background: #fff;
  box-shadow: 0.25rem 0.35rem 0.4rem rgba(40, 50, 90, 0.1);
  border-radius: 12px;
  letter-spacing: -0.5px;
  padding: 15px 15px;
  cursor: pointer;
}

.changeThumbNail {
  width: 100%;
  height: 200px;
  border-radius: 7px;
  object-fit: cover;
}

.changeBox:hover {
  border: 1px solid rgb(65 105 252);
}

.changeBox:hover .changeThumbNail {
  filter: brightness(0.7);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.changeCenterImg {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.changeInfoBox {
  width: 100%;
  line-height: 1.6;
}

/* 반응형 */
@media (max-width: 900px) {
  .wrap {
    margin: 0px 15px;
  }

  .box {
    width: 95vw;
  }

  .thumbNail {
    width: 150px;
    height: 110px;
  }

  .changeWrap {
    flex-wrap: nowrap;
    justify-content: start;
    flex-direction: column;
  }
  .changeBox {
    width: 95vw;
    height: 400px;
  }

  .changeThumbNail {
    height: 250px;
  }
  .changeWrap {
    padding: 0px 15px;
    padding-top: 220px;
    padding-bottom: 90px;
  }
}
