.wrap {
  display: flex;
  padding: 17.8px 0px;
}
.box {
  display: flex;
  width: 95%;
  gap: 15px;
}

.box p {
  padding: 10px 15px;
  color: #929292;
  border: 1px solid #dadadf;
  font-size: 18px;
  border-radius: 30px;
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.box p:hover {
  background-color: #f4f7fc;
  cursor: pointer;
}

.dropdown {
  background: url("../../../assets/icon/serviceList/dropdown.svg") no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
}

.dropdownBlue {
  background: url("../../../assets/icon/serviceList/dropdown_blue.svg") no-repeat !important;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain !important;
}

.filter {
  background: url("../../../assets/icon/serviceList/search_filter.svg") no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
}
.filterBlue {
  background: url("../../../assets/icon/serviceList/search_filter_blue.svg") no-repeat !important;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain !important;
}

.selectFilter {
  border: 1px solid #4a74fc !important;
  color: #4a74fc !important;
}

.imageType {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageType:active {
  background: rgb(213, 213, 218);
  border-radius: 5px;
}

.defaultView {
  background: url("../../../assets/icon/serviceList/view_type_1.svg") no-repeat;
  width: 35px;
  height: 35px;
  display: inline-block;
  background-size: contain;
  cursor: pointer;
  opacity: 0.6;
}

.flexView {
  background: url("../../../assets/icon/serviceList/view_type_2.svg") no-repeat;
  width: 35px;
  height: 35px;
  display: inline-block;
  background-size: contain;
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 900px) {
  .wrap {
    display: flex;
    padding: 15.8px 0px;
  }

  .box p {
    font-size: 16px;
    padding: 8px 14px;
  }
  .defaultView,
  .flexView {
    width: 30px;
    height: 30px;
  }
}
