.wrap {
  width: 100%;
  position: fixed;
  top: 63px;
  box-shadow: 0 10px 11px rgba(40, 50, 90, 0.1);
  z-index: 200;
  background: #fff;
}

.scrollDown {
  transform: translateY(-100%);
  transition: all 0.1s ease-in-out;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.scrollUp {
  transition: all 0.1s ease-in-out;
}

.box {
  width: 900px;
  min-height: 120px;
  margin: 0 auto;
}

/* 반응형 */
@media (max-width: 900px) {
  .wrap {
    top: 58px;
  }

  .box {
    width: 100vw;
    padding: 0px 20px;
  }
}
