.rank {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.rank p {
  line-height: 1.2;
  padding: 6.5px 11.4px 5.9px 11.4px;
  border-radius: 7px;
  font-family: GmarketSans;
  font-size: 13px;
}

.changeRank p {
  font-size: 15px;
}

.A {
  color: rgb(74, 116, 252);
  background: rgb(229, 237, 255);
}

.B {
  color: rgb(8, 138, 245);
  background: rgb(218, 238, 254);
}
.C {
  color: rgb(4, 161, 169);
  background: rgb(213, 245, 245);
}
.D {
  color: rgb(0, 184, 92);
  background: rgb(217, 245, 231);
}
.E {
  color: rgb(110, 149, 110);
  background: rgb(234, 244, 206);
}
.new,
.none {
  color: rgb(82, 82, 89);
  background: rgb(240, 240, 244);
}

.establish,
.wating,
.online {
  background: #f6f6fa;
  color: #727279;
}

.online {
  display: flex;
  color: #4a74fc;
}

.online img {
  transform: scale(1.75);
  padding-right: 5px;
  position: relative;
}

@media (max-width: 900px) {
  .rank p {
    font-size: 12px;
  }
  .changeRank p {
    font-size: 13px;
  }
}
