/* defaultView */
.name {
  font-size: 23px;
  font-weight: 700;
}
.address,
.counselCount {
  font-size: 18px;
}

.address {
  font-weight: 300;
}

.counselCount {
  color: #00b594;
  font-weight: 600;
}

/* flexView */
.box {
  margin-top: 10px;
}

.box .name {
  line-height: 1.25;
  font-size: 25px;
}

/* 반응형 */
@media (max-width: 900px) {
  .name {
    font-size: 21px;
    line-height: 1.4;
  }
  .address,
  .counselCount {
    font-size: 17px;
    line-height: 1.4;
  }

  .box .name {
    font-size: 23px;
  }
}
