.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: -10px;
  z-index: 100;
  align-items: center;
  display: flex;
}

.header_box {
  width: 900px;
  height: 80px;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;
}

.header_up {
  transform: translateY(-100px);
  transition: all 0.3s ease;
}
.header_down {
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.header_logo {
  background-image: url("../../../assets/icon/home/logo.svg");
  background-repeat: no-repeat;
  width: 7vw;
  height: 2.47vw;
  min-width: 131px;
  min-height: 47px;
  display: flex;
  position: relative;
  top: 0.3rem;
}

.header_Link {
  border: 1px solid #eee;
  border-radius: 0.5rem;
  background: #4a74fc;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  letter-spacing: -0.5px;
  font-size: 19px;
  padding: 7.9px 14px;
  padding-bottom: 11px;
  font-weight: 400;
  line-height: 1.25;
}

@media (max-width: 1920px) {
  .header_Link {
    padding: 7.7px 12px;
    font-size: 16.55px;
  }
}

@media (max-width: 1680px) {
  .header_Link {
    padding: 6.8px 10.7px;
    font-size: 14.6px;
  }
  .header,
  .header_box {
    height: 60px;
  }
}

@media (max-width: 1300px) {
  .header_logo {
    width: 11.9vw;
    height: 4.16vw;
    min-width: 133px;
    min-height: 47px;
  }
}

@media (max-width: 960px) {
  .header_box {
    width: 90.2vw;
  }
  .header_logo {
    width: 15.3vw;
    height: 5.15vw;
    min-width: 118px;
    min-height: 40px;
  }

  .header_Link {
    padding: 7px 12px;
    font-size: 15px;
  }
}

@media (max-width: 950px) {
  .header_Link {
    padding: 6px 9px;
    font-size: 13px;
  }
}
