.images {
  margin-top: 127px;
  display: flex;
  flex-direction: column;
  gap: 9.3px;
}

.images img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.text {
  font-size: 21px;
  font-weight: 400;
  color: #2f2f2f;
  line-height: 37.5px;
}

@media (max-width: 900px) {
  .images {
    margin-top: 110px;
    gap: 8px;
  }
}
