.wrap {
  padding: 0px 17.6px;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.completeIcon {
  width: 70.5px;
  height: 70.5px;
  margin: 5.9px 0px;
}

.blueText {
  font-size: 23.5px;
  font-weight: 700;
  color: #4a74fc;
  margin-bottom: 17.6px;
}

.textBox {
  margin-bottom: 47px;
}

.textBox p {
  font-size: 16.4px;
  line-height: 25.8px;
  color: #656565;
  margin-bottom: 11.7px;
  position: relative;
}

.textBox p::before {
  content: "·";
  position: absolute;
  font-size: 18.8px;
  top: -1px;
  left: -8px;
}

.customerBox {
  width: 100%;
  text-align: center;
}

.blackText {
  font-size: 17.6px;
  font-weight: 700;
  color: #1f1f1f;
  margin-bottom: 11.7px;
}

.text {
  font-size: 15.3px;
  font-weight: 500;
  color: #828282;
}

.icons {
  width: 25.8px;
  height: 25.8px;
}

.linkBox {
  display: flex;
  flex-direction: column;
  gap: 9.5px;
  margin-top: 29.4px;
  padding-bottom: 35.3px;
}

.linkBox a {
  padding: 10.6px;
  border: 1px solid #cacacf;
  border-radius: 35.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8.2px;
}

.linkText {
  font-size: 15.2px;
  line-height: 15.2px;
  color: #656565;
  font-weight: 500;
}

@media (max-width: 900px) {
  .completeIcon {
    margin: 5.1px 0px;
    width: 61.4px;
    height: 61.4px;
  }

  .blueText {
    font-size: 20.5px;
    margin-bottom: 17.6px;
  }

  .textBox p {
    font-size: 14.3px;
    margin-bottom: 10.25px;
    line-height: 22.5px;
  }

  .textBox p::before {
    font-size: 16.3px;
  }

  .blackText {
    font-size: 15.3px;
    margin-bottom: 10.25px;
  }

  .linkBox {
    padding-bottom: 30.3px;
  }

  .text {
    font-size: 13.3px;
  }

  .linkBox a {
    padding: 9.2px;
    gap: 7.1px;
  }
  .icons {
    width: 22.5px;
    height: 22.5px;
  }

  .linkText {
    font-size: 13.3px;
    line-height: 13.3px;
  }
}
